@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     <a asp-action="DavetiyeFormu">buraya davetiye formu gelecek</a><br>
    deneme 123567
</div>
